main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;

}
.form-control:focus {
    border-color: #343a40b3;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64,0.7);
  }
 
  .div1{
    padding-top: 4px;
    text-align:left !important;
    border-radius: 0.3rem;
    width: 980px;
    height: 100%;  
    padding: 40px;
    border: 1px solid rgba(52, 58, 64,0.7);;
    background: rgb(210, 229, 250);
    margin: auto;
  }
footer { 
 bottom: 0;
    width: 100%;
    height: 60px;
  }
  .a1:link {
    text-decoration: none;
  }
.a1:hover {
    text-decoration: underline;
  }
main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}
#intr
{
  width:inherit;
  
  height:inherit;
}
a{color: rgb(32, 32, 32);}
.footer {color:white !important;}
body
{
  background-color:#fcdddd;
    font-size: 15px;
    background-repeat: no-repeat;
   
    width:100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
   
}
.contact
{
    padding-top: 4px;
    border-radius: 0.3rem;
    width: 700px;
    height: 100%;  
    padding: 40px;
    color: rgb(75, 75, 75);
    border: 1px solid  #fed9d9;
    margin: auto;
}
#p{font-size: 25px;
  }

h2{font-size: 40px;}
p{font-size: 18px;font-family: Georgia;}
h2,p{
color:rgb(0, 0, 0)}
h1{font-size: 90px;
  text-align: right !important;
  text-shadow: 2px 2px 8px;}
h1,#p,h2{
  color: rgb(0, 0, 0);
font-family: Georgia;
}


.b {
position: relative;
padding: 0.4em;
border:0.5px;
border-radius:5px
;}
.d2{display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;}
select{margin-left: 18px !important; }
.nav-link{color:white}
.nav-link:hover, .b , .b1:hover {color: white;
background-color:rgb(73, 73, 73);
border-radius:5px
}
@media(min-width: 300px){
  .div1{
    max-width: 100%;
  }
}


