main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;

}
.form-control:focus {
    border-color: rgb(255, 172, 172);
    box-shadow: 0 0 0 0.25rem rgb(255, 172, 172,0.8);
  }
 
  .div1{
    padding-top: 4px;
    text-align:left !important;
    border-radius: 0.3rem;
    width: 980px;
    height: 100%;  
    padding: 40px;
    border: 1px solid rgba(52, 58, 64,0.7);;
    background: rgb(210, 229, 250);
    margin: auto;
  }
footer { 
 bottom: 0;
    width: 100%;
    height: 60px;
  }
  .a1:link {
    text-decoration: none;
  }
.a1:hover {
    text-decoration: underline;
  }
main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}
#intr
{
  width: 90px;
  height: 70px;
}

a{color: rgb(32, 32, 32);}
.footer {color:white !important;}
body
{
  background-color:#ffd0d0;
    font-size: 15px;
    background-repeat: no-repeat;
    background-size: 15% 25%;
    width:100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-image:url("https://i.postimg.cc/5NYvn3QM/people.png");
   
}
.jumbotron
{
   background-color: #fbc7c7;
   margin: 15px;
   padding: 40px;
   font-family:Arial, Helvetica, sans-serif;
   text-align: left !important;
}

.w3-animate-right
{
   animation-duration: 4s !important;
}
h3{text-align: left;}
.about{font-size: 26px ;
  color: rgb(37, 37, 37,0.8);}
/*CARD*/
.card
{
  padding:20px;
  background-color: #f5a3a3;
}
.card-title
{
  font-weight: bold;
  font-style: italic;
}
.card-text,.card
{
  color: rgb(255, 255, 255,0.9);
}

.b1{
  background-color: #fba6a6;
  color:white
}
.contact
{
    padding-top: 4px;
    border-radius: 0.3rem;
    width: 700px;
    height: 100%;  
    padding: 40px;
    color: rgb(75, 75, 75);
    border: 1px solid  #fdbebe;
    margin: auto;
}
#p{font-size: 25px;
  }

h2{font-size: 40px;}
p{font-size: 18px;font-family: Georgia;}
h2,p{
color:rgb(0, 0, 0)}
h1{font-size: 90px !important;
  text-align: right !important;
  text-shadow: 2px 2px 8px;}
h1,#p,h2, #p_car{
  color: rgb(0, 0, 0,0.7);
font-family: Georgia;
}
#p_car{font-size:35px}
h3 , #p_car{
  text-shadow: 2px 2px 8px;
}
/*TABLE*/
table {
  background-color: transparent;
  margin-bottom: 1rem;
  width: 100%;

}

table th,
table td {
  padding: 0.75rem;
  vertical-align: middle;
  font-family:Georgia;
  border: 1px solid #dddddd;
  text-transform: capitalize;
}

table th
{
  font-size:larger;
}
table:hover
{
  background-color: #fa9292;
  
}


tbody tr:nth-of-type(odd)
{
  background-color: #ffbcbc;
  opacity:0.85;
}

tr:nth-child(even) {
  background-color: #dddddd;
  opacity:0.85;
}
.b ,.b1 {
position: relative;
padding: 0.4em;
border:0.5px;
border-radius:5px
;}
.d2{display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;}
select{
  margin-left: 18px !important; 
}
.nav-link{color:white}
.nav-link:hover, .b 
 {
   color: white;
   background-color:rgb(252, 158, 158,0.6);
   border-radius:5px
}
.b1:hover{color:black}
@media(min-width: 300px){
  .div1{
    max-width: 100%;
  }
}


