{% extends "layout.html" %}
{% block title %}
home
{% endblock %}

{% block main %}
{% if session.user_id %}
<div class="container">
  <div class="row m-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Menstruation</h5>
          <p class="card-text">What happens with body during menstruation</p>
          <a href="https://www.healthline.com/health/womens-health/stages-of-menstrual-cycle" class="btn b1">Click Here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Menstrual Health</h5>
          <p class="card-text"> how to maintain your Menstrual health</p>
          <a href="https://www.healthline.com/health/facts-statistics-menstruation" class="btn b1">Click Here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">How menstrual Cycle works?</h5>
          <p class="card-text">Want to know How your body natural cycle works</p>
          <a href="https://www.nhs.uk/conditions/periods/fertility-in-the-menstrual-cycle/#:~:text=The%20egg%20travels%20down%20the,around%2010%20to%2016%20days." class="btn b1">Click Here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Conversion of cotton clothes to pad </h5>
          <p class="card-text"> How cotton clothes can be converted into Pads</p>
          <a href="https://timesofindia.indiatimes.com/most-searched-products/health-and-fitness/health-care/reusable-sanitary-pads-cotton-and-fibre-pads-for-eco-friendly-periods/articleshow/77607526.cms" class="btn b1">Click Here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Goonj Foundation</h5>
          <p class="card-text">Get to know about their Just a Piece of Cloth scheme </p>
          <a href="https://goonj.org/the-journey-from-just-a-piece-of-cloth-to-my-pad/" class="btn b1">Click Here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Government schemes</h5>
          <p class="card-text">Government schemes on menstruation health and hygiene </p>
          <a href="https://nhm.gov.in/index1.php?lang=1&level=3&sublinkid=1021&lid=391" class="btn b1">Click Here</a>
        </div>
      </div>
    </div>
  </div>
  </div>

{% else %}
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active " data-bs-interval="1500">
      <img src="static\1.jpg" class="d-block w-100 " height=500 alt="...">
      <div class="carousel-caption ">
        <h1> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Welcome to RePAD</h1>
        <p id="p"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  where NGOs and donor come together.</p>
          <br>
        <br><br>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="static\3.jpg" class="d-block w-100  " height=500 alt="...">
      <div class="carousel-caption">
        <p id="p_car">Join today as a donor</p>
        <a  href="/register"><button type="button"
          class="b"> Get Started </button></a></p>
        <p id="p_car">Get started as an NGO</p>
        <a  href="/contact"><button type="button"
          class="b"> Contact Us </button></a></p>
       
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="static\2.jpg" class="d-block w-100" height=500 alt="...">
      <div class="carousel-caption ">
        <h2>What does research say?</h2>
        <p>More than a third of girls in South Asia miss school during their periods, often because they 
          lack access to menstrual health products and receive little or no education about menstruation before reaching puberty.
          According to UNESCO and Whisper, 23 Million girls drop out of school due to lack of menstrual hygiene and awareness
        </p>

        <p>
          Out of a total of ~40 crore menstruating women in India, 
          less than 20% use sanitary pads. In urban areas, this number only goes up to 52%.
          This indicates that nearly half of even urban-based women use unhygienic methods for period protection,
           making them vulnerable to health issues.
        </p>
        <br><br><br><br>
      </div>
    </div>
    
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endif %}
<div class="w3-container w3-center w3-animate-right" id="about">
  <div class="jumbotron  rounded">
          <div class="md-6 px-0">
                  <h3 class="display-4" style="font-style:italic;">About  Us</h3>
                  <p class="about">In India, many menstruating women lack basic menstrual hygiene as well as rights.
                    <br>
                    We at RePad aim to change this scenario by working as a coordinator between NGOs and donors.
                    Many NGOs in India are recycling cotton clothes to make reusable and hygienic menstrual pads.
                    These cotton clothes will be provided by none other than the donor or user of this website.
                    <br>
                    At RePad Get to know The basics Of menstruation cycle , menstrual health and all the upcoming schemes and facts about it.
                    These cotton clothes donated by you not only help in making pads but will also help in Sustainability.
                    <br>
                    So today, become a Hero and make environment-conscious choices with us.
                    </p>
          </div>
  </div>
</div>
{% endblock %}